.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}
h1{
  color: #ac3b61;
}
.App-header {
  padding: 30px;
  text-align: center;
  background: #eee2dc;
}

.sidenav {
  overflow: hidden;
  background-color: #edc7b7;
}

.sidenav a {
  float: left;
  display: block;
  color: #ac3b61;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sidenav a:hover {
  background-color: #ac3b61;
  color: white;
}

